@import 'tailwindcss';

@theme {
  --color-base-100: rgb(28, 28, 22);
  --color-base-200: rgb(11, 11, 8);
  --color-base-300: rgb(8, 9, 6);
  --color-primary: white;
  --color-secondary: rgb(230, 240, 160);
  --color-accent: rgb(228, 239, 129);
}

@layer base {
  * {
    @apply text-primary;
  }

  .lucide {
    display: inline-block;
  }
}

@layer components {
  .logo {
    @apply font-bold text-secondary tracking-tighter text-4xl;
  }

  .card {
    @apply w-full h-full text-center p-4 rounded-xl hover:bg-transparent hover:text-base-300;
  }

  .btn {
    @apply bg-secondary text-base-300 font-semibold border-secondary border-2 p-2 rounded-lg transition-all hover:text-secondary hover:bg-transparent;
  }

  .btn-outline {
    @apply bg-transparent text-secondary hover:text-base-300 hover:bg-secondary;
  }

  .label{
    @apply text-secondary font-semibold text-xl;
  }
}

@layer utility {
  .heading {
    @apply text-xl font-semibold text-inherit;
  }
}
