@import 'tailwindcss';

@theme {
  --color-base-100: rgb(28, 28, 22);
  --color-base-200: rgb(11, 11, 8);
  --color-base-300: rgb(8, 9, 6);
  --color-primary: white;
  --color-accent: rgb(228, 239, 129);
}

@layer base {
  * {
    @apply text-primary;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  .lucide {
    display: inline-block;
  }
}

@layer components {
  .logo {
    @apply font-semibold text-accent text-4xl;
  }

  .card {
    @apply w-full h-full text-center hover:bg-white/50 hover:backdrop-blur-lg p-4 rounded-xl;
  }

  .btn {
    @apply bg-accent text-base-300 font-semibold border-accent border-2 p-2 rounded-sm
  }

  .btn-outline{
    @apply bg-transparent text-accent
  }
}

@layer utility {
  .heading {
    @apply text-xl font-semibold text-inherit;
  }
}
